table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid blue;
    padding: .5rem;
    text-align: left;
}

th {
    background-color: azure;
}

.table-with-bars tbody tr:nth-child(even){
    background-color: lightblue;
    /*color: white;*/
    /*font-weight: bold;*/
}

.table-with-bars tbody tr:nth-child(odd){
    background-color: lightgreen;
}

/*td:hover {
    background-color: yellow;
    color: black;
    font-weight: bold;
}*/

tbody tr:hover {
    background-color: yellow !important;
    color: black;
    font-weight: bold;
}